<html>
<head>
	<title>Uppy Demo</title>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.40/vue.global.js"></script>
	<script defer src="~/dist/Main.js"></script>
</head>

<body>
	<h1>Uppy Demo</h1>
	<div id="main"></div>
</body>
</html>